<div class="ui  vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            Feel free to make your fixes by pull requests ;)
        </div>
    </div>
</div>