<header class="hat ui grid segment">
    <div class="row">
        <div class="fourteen wide column">
            <h1 class="header">
                <%= title %>
            </h1>
        </div>
        <div class="two wide column octopus"></div>
    </div>
</header>