<div class="ui row">
    <div class=" column">
        <div class="ui secondary pointing menu">
            <a href="#" class="item">Сourses</a>
            <a href="#" class="active item">Last lesson</a>
            <div class="right menu">
                <span class="ui item">Username</span>
                <span class="ui item">
                    <img class="ui avatar image" src="/src/images/offline.png">
                </span>
            </div>
        </div>
    </div>
</div>