<div class="row">
    <div class="column">
        <div class="ui two column stackable grid table-topic">
            <div class="column task">
                <h3 class="ui header">Topic Goals</h3>
            </div>
            <div class="column howto">
                <h3 class="ui header">Information</h3>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
</div>