<header class="ui one column grid topic">
    <div class="column">
        <h2 class="ui header underlined">
            <a class="hash" href="#<%= anchor %>"><%= title %></a>
        </h2>
    </div>
</header>
<section class="ui divider"></section>