<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%= require('../partials/header.ejs')({
        title: '#1. Introduction'
    }) %>
    <div class="ui grid container presentation-table">
        <div class="ui one column grid">
            <div class="ui grid">
                <div class="four wide column"></div>
                <div class="twelve wide column">
                    <div class="ui two column grid table-topic">
                        <div class="column task">
                            <h3 class="ui header">
                                Topic
                                <%= require('../partials/circles.ejs')() %>
                                Goals
                            </h3>
                        </div>
                        <div class="column howto">
                            <h3 class="ui header"><%= require('../partials/circles.ejs')() %> What to do</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="four wide column table-timeline">
                    Date
                </div>
                <div class="twelve wide column theme">
                    <div class="ui one column grid topic">
                        <div class="column">
                            <h2 class="ui header">Theme</h2>
                        </div>
                    </div>
                    <div class="ui two column grid content">
                        <div class="six wide column task">
                            <ul>
                                <li>Element</li>
                            </ul>
                        </div>
                        <div class="six wide column howto">
                            <ul>
                                <li>Element</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <%= require('../partials/footer.ejs')() %> -->
</body>

</html>