<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= require('../partials/header.ejs')({
        title: '#1. Introduction'
    }) %>
    <div class="ui two column grid stackable center aligned container">
        <div class="middle row">
            <div class="column">
                <div class="ui segment">
                    Theme
                </div>
            </div>
            <div class="column">
                 <div class="ui segment">
                    What to learn<br><br>
                    What to learn
                </div>
            </div>
        </div>
        <div class="middle aligned row">
            <div class="column">
                <div class="ui segment">
                    Theme
                </div>
            </div>
            <div class="column">
                 <div class="ui segment">
                    What to learn
                </div>
            </div>
        </div>
        <div class="middle aligned row">
            <div class="column">
                <div class="ui segment">
                    Theme
                </div>
            </div>
            <div class="column">
                 <div class="ui segment">
                    What to learn
                </div>
            </div>
        </div>
    </div>
    <%= require('../partials/footer.ejs')() %>
</body>

</html>