$icons-font-path: "../node_modules/semantic-ui-scss/icons/";
$flags-image-path: "../node_modules/semantic-ui-scss/images/";
$font-name: "Open Sans";

@import "./scss/variables";
@import "~semantic-ui-scss/semantic-ui";
@import "./scss/mixins";
@import "./scss/base";