.hat,
.page-footer {
    &.grid.container {
        background-color: $primary-color;
        color: $body-bg-color;
    }
}

.ui {
    &.segment {
        &.with-code {
            background-color: $code-background;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.underlined {
        &:after {
            content: '';
            background-color: $primary-color;
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
            height: 0.3rem;
        }

        &.error {
            &:after {
                background-color: $red;
            }
        }
    }
}

.presentation-table {

    $li-space: rem-to-actual-number(0.5rem, $small-circle-width / 2);
    $li-with-border-space: $li-space+circle-border-size($li-space) * 2.5 + px;

    .table-topic,
    .table-timeline {
        color: $font-color;

        h3 {
            &.header {
                text-transform: uppercase;
                text-indent: .3rem;
                line-height: 30px;
            }
        }
    }

    .table-topic {
        .task {
            .circles {
                i {
                    &:before {
                        background-color: $primary-color;
                    }
                }
            }
        }

        .howto {}
    }

    .circles {
        @include circles($primary-color--hover, 1.5rem);
        top: 0.25rem;
        margin: 0 0.5rem;
    }

    .theme {
        .topic {
            .header {
                color: $grey;
                display: inline-block;
                position: relative;
            }
        }

        .data {
            ul {
                list-style: none;
                padding: 0;

                li {
                    padding: 0 1.5rem;
                }
            }

            .task {
                ul li {
                    @include empty-circle($primary-color, $body-bg-color, $small-circle-width);

                    &:before {
                        top: $li-with-border-space;
                    }
                }
            }

            .howto {
                ul li {
                    @include empty-circle($primary-color--hover, $body-bg-color, $small-circle-width);

                    &:before {
                        top: $li-with-border-space;
                    }
                }
            }
        }
    }
}